<div class="container" ng-controller="loginCtrl">

    <h2>S'AUTHENTIFIER</h2>


    <div class="alert alert-danger col-6" role="alert" ng-show="error">
        {{error}}
    </div>
    <form>
        <div class="form-group">
                <label class="alert alert-danger col-6" role="alert" ng-show="emailError">{{emailError}}</label>
            <div class="col-6">
                <input class="form-control" type="email" placeholder="E-mail" ng-model="email" />
            </div>
        </div>

        <div class="form-group">
                <label class="alert alert-danger col-6" role="alert" ng-show="passewordError">{{passewordError}}</label>
            <div class="col-6">
                <input class="form-control" type="password" placeholder="Mot de passe" ng-model="password" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-4">
                <button class="btn btn-primary" ng-click="login()">Login</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <p>Nouveau utilisateur?
                    <a href="#!/signup">Creer un nouveau compte</a>
                </p>
            </div>
        </div>
    </form>
</div>